div {
  background-color: aqua;
}

.secao-css {
  background-color: hotpink;
  height: 229px;
}

button {
  background-color: cornflowerblue;
  color: aliceblue;
}

button:active {
  background-color: blue;
  box-shadow: 5px 2px rgba(0, 0, 0, 0.507);
}
